<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/user/createApi" method="post">
        <label for='user'>User</label>
        <input name='username' id='user' type='text'>
        <input type='submit' vlue="Submit">
    </form>
    <hr>
    <a href="/user/list">back to user list</a>
  </body>
</html>